*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    position: relative;
    background-color: #121213;
}

/*ZONA 1*/
    #zona_1{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;
        height: 90vh;
        background-image: url(/URBAN-CUT/imgs/fondos/fondo_zona_1.webp),url(../imgs/fondos/fondo_zona_1.webp);
        background-size: cover;
        background-position: center top;
        -webkit-background-attachment: fixed; /* Para Safari/Chrome versiones antiguas */
        background-attachment: fixed;         /* Para la mayoría de navegadores modernos */
    }

    /*Menu*/
      .hamburger {
        display: none;
        cursor: pointer;
        position: absolute;
        right: 30px;
      }
      
      .hamburger input {
        display: none;
      }
      
      .hamburger svg {
        height: 3em;
        transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      .line {
        fill: none;
        stroke: white;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      .line-top-bottom {
        stroke-dasharray: 12 63;
      }
      
      .hamburger input:checked + svg {
        transform: rotate(-45deg);
      }
      
      .hamburger input:checked + svg .line-top-bottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
      }

    #sub_nav_var{
        opacity: 0;
        display: none;
        position: absolute;
        background-color: #121213;
        width: 100%;
        top: 99%; 
        transition: all .5s linear;
        z-index: -1;
    }
    
    #sub_menu{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        padding: 30px 30px;
    }
    #sub_menu  a{
        position: relative;
        display: block;
        transform: translateY(-20px); 
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 20px;
        font-family: "Barlow", sans-serif;
        font-weight: 600;
        font-style: italic;
        margin: 10px;
        transform: translateY(-20px);
        transition:  scale .5s ease-in, transform 0.5s ease-in;
    }
    #sub_menu  a:hover {
        scale: 1.2;
    }

    #sub_menu  a::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: #576fcd;
        transform: translate(-50%, -50%) scale(0); /* Empieza desde el centro, oculto */
        transform-origin: center;
        transition: transform .5s ease-in-out; /* Transición suave */
    }
      
    #sub_menu  a:hover::after {
        width: 100%;
        transform: translate(-50%, -50%) scale(1); /* Se expande completamente */
    }
    #header{
        position: relative;
        opacity: 0;
        z-index: 10;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: inicio 1s .5s  ease forwards;
        transition: background-color .5s linear;
       
    }
    #nav_var{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1000px;
        width: 100%;
    }

    .nav-text{
        width: 33%;
        margin:  0 24px;
        display: flex;
        justify-content: center;
        gap: 6rem;
    }
    .nav-text > a{
        position: relative;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 20px;
        font-family: "Barlow", sans-serif;
        font-weight: 600;
        font-style: italic;
        transition:  scale .5s ease;
    }
    .nav-text > a:hover {
        scale: 1.2;
    }

    .nav-text > a::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: #576fcd;
        transform: translate(-50%, -50%) scale(0); /* Empieza desde el centro, oculto */
        transform-origin: center;
        transition: transform 0.5s ease-in-out; /* Transición suave */
    }
      
    .nav-text > a:hover::after {
        width: 100%;
        transform: translate(-50%, -50%) scale(1); /* Se expande completamente */
    }

    #c-2 > img{
        width: 170px;
        margin-top: 10px;
    }

    /*Texto principal*/
    #text_center_cont{
        width: 100%;
        height: 70%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    #barber_icon{
        width: 150px;
        opacity: 0;
        animation: barber-icon 1s .5s ease forwards;
    }
    #text_center > h1{
        text-align: center;
        color: #ffff;
        font-family: "Barlow", sans-serif;
        font-weight: 900;
        font-size: 90px;
        letter-spacing: 2px;
        margin: 10px;
        opacity: 0;
        animation: text-principal 1s .5s ease forwards;

    }
    #btn_reserva{
        opacity: 0;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: text-principal 1s .8s ease forwards;

    }
    #btn_reserva > a{
        color: #ffff;
        font-family: "Barlow", sans-serif;
        font-size: 30px;
        font-weight: 600;
        text-decoration: none;
        border: 3px solid #ffff;
        border-radius: 2px;
        padding: 10px;
        transition: border .2s ease, color .2s ease;

    }
    #btn_reserva > a:hover{
        border: 3px solid #576fcd;
        color: #576fcd;
    }

    /*efecto waves*/
    .custom-shape-divider-bottom-1727971225 {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1727971225 svg {
        position: relative;
        display: block;
        width: calc(192% + 1.3px);
        height: 67px;
        transform: rotateY(180deg);
    }

    .custom-shape-divider-bottom-1727971225 .shape-fill {
        fill: #121213;
    }

/*ZONA 2*/
    #zona_2{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #121213;
        padding: 200px 40px;
        
    }
    /*Texto*/
        #text_resum_cont{
            width: 100%;
            max-width: 490px;
            margin: 0 10% 0 0;
        }
        #text_resum_cont > h1{
            font-family:  "Barlow", sans-serif;
            color: #ffff;
            font-size: 56px;
            font-weight: 900;
        }
        #text_resum_cont > p{
            font-family:  GENERAL ;
            color: #f7f1e0;
            font-size: 18px;
            font-weight: 400;
            margin: 2rem 0;
        }
        .extra_info{
            display: flex;
            margin: 50px 0;
        }
        .extra_text{
            display: flex;
            flex-direction: column;
            
        }
        .extra_text > h1{
            font-family:  "Barlow", sans-serif ;
            color: #ffffff;
            font-size: 22px;
            font-weight: 900;
            margin: 10px 0;
        }
        .extra_text > p{
            font-family:  GENERAL ;
            color: #f7f1e0;
            font-size: 16px;
            font-weight: 400;
        }
        .extra_info > img{
            width: 60px;
            height: 60px;
            display: block;
            margin-right: 20px;
            
        }
        #maquinilla{
            transform: rotate(30deg);
        }
    /*Imagenes*/
        #img_resum_cont{
            position: relative;
            width: 100%;
            max-width: 590px;
        }
        ._68 {
            width: 68%;
        }
        ._68 img{
            width: 100%;
        }
        
        #img_2_resum{
            margin-top: -20%;
            margin-left: auto;
        }
        
 
/*ZONA 3*/

    #zona_3{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #121213;
        padding: 200px 50px;
        
    }

    /*Cabecera*/
    #header-z3{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }
    .lines{
        width: 40%;
        height: 1px;
        background-color: #ffffffb0;
    }
    
    /*Equipo*/
    #equipo_cnt{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tits_zonas{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px 0 50px 0;
    }
    .tits_zonas > h1{
        font-family:  "Barlow", sans-serif ;
        color: #ffffff;
        font-size: 56px;
        font-weight: 900;
        margin: 10px 0;
        text-align: center;
    }
    
    /*Tarjetas*/
    #personal{
        max-width: 1500px;
        width: 100%;
        display: grid;
        grid-column-gap: 40px; 
        grid-row-gap: 40px; 
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-auto-columns: 1fr; 
        margin-top: 100px;
    }

    #personal >a{
       text-decoration: none;
    }
    
    .img_inte{
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
    }
    .img_inte > img{
        width: 100%;
        margin-top: 10px;
        transition: all .7s ease;
    }
    .integrantes:hover  img{
        scale: 1.1;
        animation: rotate_memoji 1s  linear;
    }
    .text_inte{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text_inte > h1{
        font-family:  "Barlow", sans-serif ;
        color: #ffffff;
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 20px;
        transition: color .5s ease;
    }
    .text_inte > p{
        font-family:  GENERAL ;
            color: #f7f1e0;
            font-size: 16px;
            font-weight: 400;
    }
    .integrantes:hover  h1{
        color: #576fcd;
    }
    .imgs_fondo{
        width: 100%;
        position: relative;
    }
    .abajo_relative{
       position: absolute;
       top: 140px;
       left:-50px;
       min-width: 200px;
       max-width: 300px;
       width: 30%;
       opacity: .2;
    }
    .arriba_relative{
        position: absolute;
        bottom: -10px;
        right: -50px;
        min-width: 200px;
        max-width: 300px;
        width: 30%;
        opacity: .2;
     }
   

/*ZONA 4*/

    #zona_4{
        position: relative;
        width: 100%;
        height: 600px;
        background-image: url(/URBAN-CUT/imgs/fondos/fondo_zona_4.webp),url(../imgs/fondos/fondo_zona_4.webp);
        background-size: cover;
        background-position: center top;
        -webkit-background-attachment: fixed; /* Para Safari/Chrome versiones antiguas */
        background-attachment: fixed;         /* Para la mayoría de navegadores modernos */
        margin: 100px 0;        
        
    }

    .custom-shape-divider-top-1728402236 {
        position: absolute;
        top: -2px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1728402236 svg {
        position: relative;
        display: block;
        width: calc(189% + 1.3px);
        height: 75px;
        transform: rotateY(180deg);
    }
    
    .custom-shape-divider-top-1728402236 .shape-fill {
        fill: #121213;
    }

/*ZONA 5*/

    #zona_5{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #121213;
        padding: 200px 50px;
        
    }

    /*Cabecera*/
    #header-z5{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }
    #igm_header_z5 img {
        width: 100px;
        margin: 30px;
        
    }

    /*SERVICIOS*/
    #serv_cnt{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #serv_cnt > div:first-child{
        margin-bottom: 50px;
    }
    /*Tarjetas*/
    #lista_servicios{
        margin-top: 100px;
        max-width: 1500px;
        width: 100%;
        display: grid;
        grid-column-gap: 50px; 
        grid-row-gap: 40px; 
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-auto-columns: 1fr; 
        
    }

    #lista_servicios >a{
       text-decoration: none;
    }
    
    .img_serv{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img_serv > img{
        width: 100px;
        transition: all .5s ease;
    }
    .servicios{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 2px solid #ffffff8e;
        padding: 20px;
        height: 400px;
        transition: all .5s ease;
    }
    .servicios:hover {
        scale: .95;
        border: 2px solid #ffff;
    }
    .servicios:hover img {
        scale: 1.2;
    }
    .servicios:hover  h1,.servicios:hover  .price{
        color: #576fcd;
    }
    .text_inte{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .text_inte > h1{
        font-family:  "Barlow", sans-serif ;
        color: #ffffff;
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 20px;
        transition: color .5s ease;
    }
    .text_inte > p{
        font-family:  GENERAL ;
            color: #f7f1e0;
            font-size: 16px;
            font-weight: 400;
    }
    .price{
        font-family:  "Barlow", sans-serif ;
            color: #ffffff;
            font-size: 20px;
            font-weight: 800;
            margin-top: 20px;
            transition: color .5s ease;
    }


/*ZONA 6*/

    #zona_6{
        width: 100%;
        display: flex;
        margin: 200px 0;
    }

    .contactos{
        width: 40%;
        height: 500px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        border-top: 2px solid #ffffff1e;
        border-bottom: 2px solid #ffffff1e;
    }
    .maps{
        width: 60%;
        height: 500px;
    }
    .texto{
        font-family:  GENERAL ;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
    }
    .titulos{
        font-family:  "Barlow", sans-serif ;
        color: #576fcd;
        font-size: 16px;
        font-weight: 800;
        margin: 10px 0;
    }
    .iconos_z6{
        width: 40px;
        margin: 30px;
    }
    #direccion, #telefono{
        display: flex;
        align-items: center;
    }

    #horario{
        display: flex;
        
    }
    #texto_horario{
        display: grid;
        grid-column-gap: 25px; 
        grid-row-gap: 10px; 
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr; 
        grid-auto-columns: 1fr; 
    }
    #redes{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    #redes div{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        border: 1px solid #ffff;
        transition: all .5s ease;
    }
    #redes div >img{
       width: 20px;
    }
    #redes div:hover{
       background-color: #576fcd;
       transform: translateY(-5px);
    }



/*FOOTER*/
#footer {
    color: white;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 10%;
    margin-bottom: 100px;
}

.footer-section {
    
    margin-bottom: 20px;
}

.footer-section h3 {
    font-family:  "Barlow", sans-serif ;
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 15px;
}

.footer-section p,
.footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    font-family:  GENERAL ;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #576fcd; 
}

.logo_contacts img{
    width: 120px;
    margin-bottom: 20px;
}
.social-links a {
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
    color: white;
    transition: color 0.3s ease;
}

.social-links div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 1px solid #ffff;
    transition: all .5s ease;
}
.social-links div >img{
   width: 20px;
}
.social-links div:hover{
   background-color: #576fcd;
   transform: translateY(-5px);
}
.footer-bottom {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #444;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}
.footer-bottom p:nth-child(2) {
    margin: 10px;
    font-size: 12px;
}
.footer-bottom p:nth-child(2) a {
    text-decoration: none;
    color: #576fcd ;
    transition: color 0.3s ease;
}
.footer-bottom p:nth-child(2) a:hover {
    text-decoration: underline;

}


/*MEDIA QUERIS*/

    @media (max-width: 900px) {
        #c-1,#c-3{
            display: none;
        }
        .hamburger {
            display: block;
          }
        #sub_menu  a{
            font-size: 25px;
        }
        #zona_2{
            flex-direction: column;
        }
        #text_resum_cont{
            margin: 0 ;
        }
        #text_resum_cont{
            margin: 0;
        }

        #personal, #lista_servicios{
            grid-template-columns: 1fr 1fr  ; 
        }
        #zona_6{
            flex-direction: column;
        }
        .contactos,.maps{
            width: 100%;
        }
        .contactos{
            padding: 0 20%;
        }
        #zona_3,#zona_5{
            
            padding: 100px 50px;
            
        }
    }
    @media (max-width: 600px) {
        #text_center_cont{
            scale: .7;
            margin-top: 0px;
        }
        #btn_reserva{
            scale: 1.3;
        }
        #header-z3,#header-z5{
            width: 100%;
            
        }
        .footer-container {
            flex-direction: column;
           
        }
    }
    @media (max-width: 430px) {
        #personal, #lista_servicios{
            grid-template-columns: 1fr ; 
        }
        .contactos{
            padding: 0;
        }
        #btn_reserva{
            scale: 1.6;
        }
    }
    @media (max-width: 375px) {
        #zona_2{
            padding: 92px 20px;
            
        }
        #text_center_cont{
            scale: .5;
            margin-top: 0px;
        }
        #text_resum_cont{
            scale: .8;
        }
        .equipo_text{
            scale: .8;
        }
        
    }

/*ANIMACIONES*/

    @font-face {
        font-family: GENERAL;
        src: url(../fuentes/GeneralSans_Complete/Fonts/OTF/GeneralSans-Regular.otf) format("opentype");
    }

    @keyframes inicio {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
        
    }
    @keyframes barber-icon {
        0%{
            opacity: 0;
            transform: scale(.5) rotateZ(-90deg);
            transform-origin: bottom left; 
        }
        
        100%{
            opacity: 1;
            transform: scale(1), rotateZ(0);
        }
        
    }
    @keyframes text-principal {
        0%{
            opacity: 0;
            transform: translateY(50px);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
        
    }
    @keyframes rotate_memoji {
        0%{
            transform: rotateZ(0);
        }
        25%{
            transform: rotateZ(3deg);
        }
        50%{
            transform: rotateZ(-6deg);
        }
        75%{
            transform: rotateZ(3deg);
        }
        100%{
            transform: rotateZ(0);
        }
        
    }

    .view_arriba{
        animation: view_arriba 1s;
    }
    .animado{
        opacity: 0;
        transition: all 1s ease;
    }
    @keyframes view_arriba {
        0%{
            transform: translateY(100px);
        }
        
        100%{
            transform: translateY(0);
        }
        
    }

    .view_lado{
        animation: view_lado 1s;
    }
    .animado_2{
        opacity: 0;
        transition: all 1s ease;
    }
    @keyframes view_lado {
        0%{
            transform: translateX(-200px);
        }
        
        100%{
            transform: translateX(0);
        }
        
    }
    .view_tit{
        animation: view_tit 1s;
    }
    .animado_tit{
        opacity: 0;
        transition: all 1s ease;
    }
    @keyframes view_tit {
        0%{
            opacity: 0;
            scale:.7;
        }
        
        100%{
            opacity: 1;
            scale:1;
        }
        
    }
    